<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luke.hot_list.dao.DatabaseDao">

    <!--创建知乎表-->
    <update id="createTableZhihu">
        CREATE TABLE IF NOT EXISTS `zhihu`
        (
            `url`       varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
            `content`   longtext CHARACTER SET utf8 COLLATE utf8_general_ci     NULL,
            `grab_date` datetime(6)                                             NULL DEFAULT NULL,
            `image_url` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `title`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `tag`       int(0)                                                  NULL DEFAULT NULL,
            PRIMARY KEY (`url`) USING BTREE
        ) ENGINE = InnoDB
          CHARACTER SET = utf8
          COLLATE = utf8_general_ci
          ROW_FORMAT = Dynamic;
    </update>
    <!--创建图鉴表-->
    <update id="createTableHandbook">
        CREATE TABLE IF NOT EXISTS `handbook`
        (
            `id`          int(11)                                                 NOT NULL AUTO_INCREMENT,
            `name`        varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `img_url`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 1
          CHARACTER SET = utf8
          COLLATE = utf8_general_ci
          ROW_FORMAT = Dynamic;
    </update>
    <!--创建日志表-->
    <update id="createTableLog">
        CREATE TABLE IF NOT EXISTS `log`
        (
            `request_title`        varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `request_result` text CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `request_args`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `request_url`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `request_method`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `class_name`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `method_name`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL
        ) ENGINE = InnoDB
          CHARACTER SET = utf8
          COLLATE = utf8_general_ci
          ROW_FORMAT = Dynamic;
    </update>
    <update id="createTableHotList">
        CREATE TABLE IF NOT EXISTS `hot_list`
        (
            `title`     varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `type`      varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `link`      varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
            `hot_value` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
            `grab_date` datetime(6)                                                   NULL DEFAULT NULL,
            PRIMARY KEY (`link`) USING BTREE
        ) ENGINE = InnoDB
          CHARACTER SET = utf8
          COLLATE = utf8_general_ci
          ROW_FORMAT = Dynamic;
    </update>
</mapper>